@font-face {
  font-family: 'Bold';
  src: local('Proxima Nova Black Italic'),
  local('Proxima Nova Black Italic'),
  url('../fonts/bold.woff') format('woff'),
  url('../fonts/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: local('Product Sans Regular'),
  local('Google Sans Regular'),
  url('../fonts/regular.woff') format('woff'),
  url('../fonts/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  user-select: none;
}

body {
  background-image: url('bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#171717;
}

p {
  color: #fff;
}

.btn {
  font-family: 'Bold', sans-serif;
}

.github {
  margin-right: 2.5%;
  margin-left: 2.5%;
  color: #ddd;
  text-decoration: none;
  font-family: 'Regular';
  font-size: medium;
  font-weight: bold;
}

.github:hover {
  margin-right: 2.5%;
  color: #ddd;
  text-decoration: none;
  font-family: 'Regular';
  font-size: medium;
  font-weight: bold;
}

.telegram {
  margin-right: 2.5%;
  color: #0088cc;
  text-decoration: none;
  font-family: 'Regular';
  font-size: medium;
  font-weight: bold;
}

.telegram:hover {
  color: #0088cc;
}

.youtube {
  margin-right: 2.5%;
  color: #FF0000;
  text-decoration: none;
  font-family: 'Regular';
  font-size: medium;
  font-weight: bold;
}

.youtube:hover {
  color: #FF0000;
}

.spotify {
  margin-right: 2.5%;
  color: #1db954;
  text-decoration: none;
  font-family: 'Regular';
  font-size: medium;
  font-weight: bold;
}

.spotify:hover {
  color: #1db954;
}

.email-me {
  font-family: 'Regular';
}

@media screen and (min-width: 300px) {
#header {
  font-family: 'Bold', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 15rem;
}

.aboutme {
  font-family: 'Regular', sans-serif;
  text-align: center;
  font-size: large;
  font-weight: normal;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.email-me {
  margin-top: 5vh;
  font-family: 'Regular';
}
}

@media screen and (min-width: 500px) {
  #header {
    font-family: 'Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 16rem;
    animation-duration: 1s;
  }

  .aboutme {
    font-family: 'Regular', sans-serif;
    text-align: center;
    font-size: x-large;
    animation-duration: 1s;
  }

  .email-me {
    margin-top: 5vh;
    font-family: 'Regular';
  }
}
