.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: text;
}

body {
  height: 100dvh;
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@media (max-width: 599px) {
  #hourglass { width: 10vw; }
  .inline-container { width: 80vw; gap: 1.5vh; }
  .links-wrapper { width: 80vw; }
  #avatar { width: 50vw; height: 50vw; }
  #cover { width: 45vw; height: 45vw; }
  #title { font-size: 9vw; }
  #music { font-size: 8vw; }
  #short-bio { font-size: 4vw; }
  #bio-title { font-size: 8vw; }
  #bio { font-size: 3vw; }
  #links-title { font-size: 8vw; }
  .links { font-size: 5vw; }
  #project5217-title { font-size: 10vw; }
}

@media (min-width: 600px) and (max-width: 767px) {
  #hourglass { width: 10vw; }
  .inline-container { width: 58vw; gap: 1.75vh; }
  .links-wrapper { width: 58vw; }
  #avatar { width: 40vw; height: 40vw; }
  #cover { width: 35vw; height: 35vw; }
  #title { font-size: 8vw; }
  #music { font-size: 7vw; }
  #short-bio { font-size: 3.5vw; }
  #bio-title { font-size: 7vw; }
  #bio { font-size: 2.5vw; }
  #links-title { font-size: 7vw; }
  .links { font-size: 4vw; }
  #project5217-title { font-size: 8.5vw; }
}

@media (min-width: 768px) and (max-width: 991px) {
  #hourglass { width: 7vw; }
  .inline-container { width: 50vw; gap: 2vh; }
  .links-wrapper { width: 50vw; }
  #avatar { width: 32.5vw; height: 32.5vw; }
  #cover { width: 27.5vw; height: 27.5vw; }
  #title { font-size: 6.75vw; }
  #music { font-size: 5.75vw; }
  #short-bio { font-size: 2.75vw; }
  #bio-title { font-size: 5.75vw; }
  #bio { font-size: 2vw; }
  #links-title { font-size: 5.75vw; }
  .links { font-size: 3vw; }
  #project5217-title { font-size: 7vw; }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #hourglass { width: 5vw; }
  .inline-container { width: 40vw; gap: 2.25vh; }
  .links-wrapper { width: 40vw; }
  #avatar { width: 31vw; height: 31vw; }
  #cover { width: 26vw; height: 26vw; }
  #title { font-size: 5.5vw; }
  #music { font-size: 4.5vw; }
  #short-bio { font-size: 2.5vw; }
  #bio-title { font-size: 4.5vw; }
  #bio { font-size: 1.75vw; }
  #links-title { font-size: 4.5vw; }
  .links { font-size: 2.5vw; }
  #project5217-title { font-size: 6vw; }
}

@media (min-width: 1200px) {
  #hourglass { width: 5vw; }
  .inline-container { width: 36vw; gap: 2.5vh; }
  .links-wrapper { width: 36vw; }
  #avatar { width: 20vw; height: 20vw; }
  #cover { width: 15vw; height: 15vw; }
  #title { font-size: 5vw; }
  #music { font-size: 4vw; }
  #short-bio { font-size: 2vw; }
  #bio-title { font-size: 4vw; }
  #bio { font-size: 1.25vw; }
  #links-title { font-size: 4vw; }
  .links { font-size: 2vw; }
  #project5217-title { font-size: 5vw; }
}

a {
  width: fit-content;
  height: fit-content;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1a1b1e;
  z-index: 5;
}

#hourglass {
  filter: invert(100%) sepia(12%) saturate(127%) hue-rotate(169deg) brightness(119%) contrast(89%);
}

.preloader_row {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
  box-sizing: border-box;
}

.language-changer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

select::-ms-expand {
  display: none;
}

#language-select {
  margin: 0;
  width: 100px;
  padding: 5px;
  font-size: 13px;
  border: 1px solid #f1f1f1;
  height: 30px;
  appearance: none;
  background: url(/img/language.svg) 93% / 15% no-repeat #f1f1f1;
}

#home-container {
  background-color: #1a1b1e;
  position: relative;
}

.title {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

#title {
  color: #f1f1f1;
}

.paragraph {
  margin: 0;
  text-align: justify;
  font-weight: 300;
}

#short-bio {
  color: #f1f1f1;
}

.inline-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#bio-container {
  background-color: #f1f1f1;
}

.bio-div {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bio {
  color: #1a1b1e;
}

#bio-title {
  color: #1a1b1e;
}

#links-container {
  background-color: #1a1b1e;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links-title {
  margin: 0;
  color: #f1f1f1;
  font-weight: 500;
}

#links-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links {
  color: #f1f1f1;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .links:hover {
    color: #ccc;
  }
}

#project5217 {
  background-color: #263B54;
}

#project5217-title {
  margin: 0;
  color: #ebf4ff;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

#project5217-title a {
  color: #ebf4ff;
}

#project5217-title a:hover {
  color: #8BA8CC;
}